<h1>Resultados da busca por: <%= @query %></h1>
<% if @buffets.any? %>
  <p><%= @buffets.count %> <%= @buffets.count > 1 ? "buffets encontrados" : "buffet encontrado" %></p>
  <dl>
    <% @buffets.each do |buffet| %>
      <%= render buffet %>
      <% if buffet.event_types.any? %>
        <dd>Tipos de Evento Oferecidos
          <ul>
            <% buffet.event_types.each do |event_type| %>
              <li><%= event_type.name %></li>
            <% end %>
          </ul>
        </dd>
      <% end %>
    <% end %>
  </dl>
<% else %>
  Nenhum buffet encontrado.
<% end %>