<h1><%= @buffet.brand_name %></h1>
<% unless @buffet.description.blank? %>
  <p><%= @buffet.description %></p>
<% end %>
<ul>
  <li>CNPJ: <%= @buffet.formatted_cnpj %></li>
  <li>Telefone: <%= @buffet.formatted_phone %></li>
  <li>Endereço: <%= @buffet.full_address %></li>
</ul>
<section>
  <h2>Meios de Pagamento Aceitos</h2>
  <% if @buffet.payment_options.any? %>
    <dl>
      <% @buffet.payment_options.each do |payment_option| %>
        <dt>
          <%= payment_option.name %>
        </dt>
        <dd><%= payment_option.long_installment_limit %></dd>
      <% end %>
    </dl>
  <% else %>
    <p>Este buffet não possui meios de pagamento cadastrados.</p>
  <% end %>
</section>
<section>
  <%= render partial: 'event_types', locals: { buffet: @buffet } %>
</section>
