<%= 'Atenção! Existem pedidos marcados para o mesmo dia para este pedido.' if Order.find_by 'date = ? AND id != ?', @order.date, @order.id %>
<h1>Pedido <%= @order.code %></h1>
<ul>
  <li>Status: <%= I18n.translate @order.status %></li>
  <li>Cliente: <%= link_to @order.client.name %> (<%= @order.client.email %>)</li>
  <li>Buffet: <%= link_to @order.event_type.buffet.brand_name %></li>
  <li>Data do Evento: <%= I18n.l(@order.date) %></li>
  <li>Quantidade Estimada de Convidados: <%= @order.attendees %></li>
  <li>Endereço: <%= @order.address %></li>
  <li>Meio de Pagamento: <%= @order.payment_option ? @order.payment_option.name : 'A combinar' %></li>
  <li>Tipo de Evento: <%= link_to @order.event_type.name %></li>
  <li>Detalhes Adicionais: <%= @order.details %></li>
  <li>Preço Final: <%= @order.final_price %></li>
  <% if @order.price_adjustment && @order.price_adjustment != 0 %>
    <% if @order.price_adjustment > 0 %>
      <li>Taxa Extra: <%= (number_to_currency @order.price_adjustment, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></li>
      <li>Justificativa da Taxa Extra: <%= price_adjustment_description %></li>
    <% else %>
      <li>Desconto: <%= (number_to_currency @order.price_adjustment, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></li>
      <li>Justificativa do Desconto: <%= price_adjustment_description %></li>
    <% end %>
  <% end %>
</ul>
<% if @order.base_price %>
  <section>
    <h2>Preço Base Utilizado: <%= @order.base_price.description %></h2>
    <ul>
      <li>Valor Mínimo: <%= (number_to_currency @order.base_price.minimum, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></li>
      <li>Adicional por Pessoa: <%= (number_to_currency @order.base_price.additional_per_person, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></li>
      <% unless base_price.extra_hour_value.blank? %>
        <li>Valor por Hora Extra: <%= (number_to_currency  @order.base_price.extra_hour_value, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></li>
      <% end %>
    </ul>
  </section>
<% end %>
