<%= render partial: 'layouts/error_messages', locals: { model: @order } %>
<h1>Fazer Pedido</h1>
<%= form_with model: [@order.event_type, @order] do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date, min: Date.current %>
  </div>
  <div>
    <%= form.label :attendees %>
    <%= form.number_field :attendees, min: 0, step: 1 %>
  </div>
  <div>
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>
  <% if @order.event_type.buffet.payment_options.active.any? %>
    <div>
      <%= form.label :payment_option_id %>
      <%= form.collection_select :payment_option_id, @order.event_type.buffet
        .payment_options.active.order(:name), :id, :name %>
    </div>
  <% end %>
  <% if @order.event_type.serves_external_address? %>
    <div>
      <%= form.label :address %>
      <%= form.text_area :address %> Altere se desejar que o evento ocorra em outro local
    </div>
  <% end %>
  <div>
    <%= form.submit 'Fazer Pedido' %>
  </div>
<% end %>