<%= render partial: 'layouts/error_messages', locals: { model: @order } %>

<h1 class="mx-5 mb-4 mt-4">Fazer Pedido</h1>

<%= form_with model: [@order.event_type, @order], class: "mx-5 fs-5" do |form| %>
  <div>
    <%= form.label :date %>
    <div>
      <%= form.date_field :date, min: Date.current %>
    </div>
  </div>

  <div class="my-3">
    <%= form.label :attendees %>
    <div>
      <%= form.number_field :attendees, min: 0, step: 1 %>
    </div>
  </div>

  <div class="my-3">
    <%= form.label :details %>
    <div>
      <%= form.text_area :details, class: "large-input-width" %>
    </div>
  </div>

  <div class="my-3">
    <%= form.label :payment_option_id %>
    <div>
      <%= form.collection_select :payment_option_id, @order.event_type.buffet.payment_options.active.order(:name), :id, :name %>
    </div>
  </div>

  <% if @order.event_type.serves_external_address? %>
    <div class="my-3">
      <%= form.label :address %> (Altere se desejar que o evento ocorra em outro local)
      <div>
        <%= form.text_area :address, class: "large-input-width" %>
      </div>
    </div>
  <% end %>

  <div>
    <%= form.submit 'Fazer Pedido', class: "btn btn-primary my-3" %>
  </div>
<% end %>