<%= render partial: 'event_type', locals: { event_type: @event_type } %>
<%= link_to 'Fazer Pedido', new_event_type_order_path(@event_type) if @event_type.base_prices.any? %>
<section>
  <h2>Preços-base</h2>
  <% if @event_type.base_prices.any? %>
    <dl>
      <% @event_type.base_prices.each do |base_price| %>
        <dt>
          <%= base_price.description %>
        </dt>
        <dd>Valor Mínimo: <%= (number_to_currency base_price.minimum, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></dd>
        <dd>Adicional por Pessoa: <%= (number_to_currency base_price.additional_per_person, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></dd>
        <% unless base_price.extra_hour_value.blank? %>
          <dd>Valor por Hora Extra: <%= (number_to_currency base_price.extra_hour_value, unit: 'R$', precision: 2, separator: ',', delimiter: '.').gsub ' ', '' %></dd>
        <% end %>
      <% end %>
    </dl>
  <% else %>
    <p>Este tipo de evento não possui preços-base cadastrados.</p>
  <% end %>
</section>