<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <title>Cadê Buffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <nav>
        <menu>
          <li><%= link_to 'Página Inicial', root_path %></li>
          <li>
            <%= form_with url: search_buffets_path, method: :get do |form| %>
              <%= form.label :query, 'Buscar Buffet' %>
              <%= form.text_field :query %>
              <%= form.submit 'Buscar' %>
            <% end %>
          </li>
          <% if buffet_owner_signed_in? %>
            <li><%= current_buffet_owner.email %></li>
            <li><%= button_to 'Sair', destroy_buffet_owner_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Entrar', new_buffet_owner_session_path %></li>
          <% end %>
        </menu>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
